<a href="https://colab.research.google.com/github/DasBytes/codes_ig/blob/main/Copy_of_Basic_Python_Sec_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

In [ ]:
for i in range(100, 111):
  print(i)

100
101
102
103
104
105
106
107
108
109
110

In [ ]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range( 11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10,31,3):
  print(i)

10
13
16
19
22
25
28

In [ ]:
for i in reversed(range(1,10)):
  print(i)

9
8
7
6
5
4
3
2
1

In [ ]:
n= int(input("Enter number of rows: "))

for i in range(1, n+1):
    print("*" *i)

Enter number of rows: 2
*
**

In [ ]:
n= int(input("Enter number of rows: "))

for i in range(1,n+1):
    print("*"*i)
for i in reversed(range(1,n)):
    print("*"*i)

Enter number of rows: 4
*
**
***
****
***
**
*

In [ ]:
n= int(input("Enter number of rows: "))

for i in range(1,n+1):
    print("1"*i)

Enter number of rows: 4
1
11
111
1111

In [ ]:
n= int(input("Enter number of rows: "))

for i in range (1,n+1):
  for j in range(1,i+1):
    print(j, end=" ")
  print("")

Enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Lab 1: I/O, Datatypes, If-else

In [ ]:
print("Hello world")

Hello world

In [ ]:
x = 1

type(x)

int

In [ ]:
x = 10.5

type(x)

float

In [ ]:
x = "string"

type(x)

str

In [ ]:
x, y = 1, 1.5

print("X = {}, Y = {}".format(x, y))

X = 1, Y = 1.5

In [ ]:
print(f"X = {x}, Y = {y}")

X = 1, Y = 1.5

In [ ]:
print("X = " + str(x) + ", Y = " + str(y))

X = 1, Y = 1.5

In [ ]:
x = input("Enter a integer value: ")

print(type(x))

Enter a integer value: 5
<class 'str'>

In [ ]:
x = int(input("Enter a integer value: "))

print(type(x))

Enter a integer value: 5
<class 'int'>

In [ ]:
x, y, z = 1, 1.5, "t"
type(x), type(y), type(z)

(int, float, str)

In [ ]:
x = int(input("Enter an integer: "))

if x%2 == 0:
  print(f"{x} is an even number")
else:
  print(f"{x} is an odd number")

Enter an integer: 10
10 is an even number

In [ ]:
x = int(input("Enter your mark in CSE 328: "))

if x >= 93:
  print("You have got an A")
elif x<93 and x>=89:
  print("You have got an A-")
elif x<89 and x>=85:
  print("You have got a B+")
else:
  print("You have failed")

# you have completed today's lab

Enter your mark in CSE 328: 86
You have got a B+