<a href="https://colab.research.google.com/github/DasBytes/codes_ig/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [ ]:
fruit_list=['apple', 'banana', 'jackfruit']
print(fruit_list)

['apple', 'banana', 'jackfruit']

In [ ]:
mix_list=[1, 1.4, 'jackfruit']
print(mix_list)

[1, 1.4, 'jackfruit']

## Regular Indexing

In [ ]:
print(fruit_list[0])

apple

In [ ]:
fruit_list[0]='Orange'
print(fruit_list[0])

Orange

## Negative indexing

In [ ]:
print(fruit_list[-1])

NameError: name 'fruit_list' is not defined

In [ ]:
fruit_list[-1]='mango'
print(fruit_list[-1])

mango

## List Function: `append`

In [ ]:

fruit_list.append('pineapple')
print(fruit_list)

['Orange', 'banana', 'mango', 'pineapple', 'pineapple']

In [ ]:
games =[]
n=int(input('Number of games: '))
for i in range(n):
  game= input(f' Game #{i+1}: ')
  games.append(game)
print(games)

Number of games: 3
 Game #1: aaa
 Game #2: aaaa
 Game #3: aaaaaa
['aaa', 'aaaa', 'aaaaaa']

# List Function: `remove`

In [ ]:
games.remove('aaa')
print(games)

['aaaa', 'aaaaaa']

# list function: `insert`

In [ ]:
print(fruit_list)

['Orange', 'banana', 'mango', 'pineapple', 'pineapple']

In [ ]:
fruit_list.insert(3, 'lichi')
print(fruit_list)

['Orange', 'banana', 'mango', 'lichi', 'pineapple', 'pineapple']

## length of a list

In [ ]:
len(fruit_list)

6

## List concatenation

In [ ]:
print(fruit_list)
print(mix_list)
print(games)

['Orange', 'banana', 'mango', 'lichi', 'pineapple', 'pineapple']
[1, 1.4, 'jackfruit']
['aaaa', 'aaaaaa']

In [ ]:
all_list=fruit_list+mix_list+games
print(all_list)

['Orange', 'banana', 'mango', 'lichi', 'pineapple', 'pineapple', 1, 1.4, 'jackfruit', 'aaaa', 'aaaaaa']

## List sorting

In [ ]:
number_list=[5,1,0,9,6,10]
number_list.sort()
print(number_list)

[0, 1, 5, 6, 9, 10]

In [ ]:
number_list=[5,1,0,9,6,10]
number_list.sort(reverse=True)
print(number_list)

[10, 9, 6, 5, 1, 0]

## List Slicing

In [ ]:
print(number_list)

[10, 9, 6, 5, 1, 0]

In [ ]:
len(number_list)

6

In [ ]:
number_list[1:4]

[9, 6, 5]

In [ ]:
number_list[1:6:2]

[9, 5, 0]

## problem 4: write a function to find sum and avg of a list

In [ ]:
number_list=[5,1,0,5,6,10]
sum_of_list=sum(number_list)
avg_of_list=sum_of_list/len(number_list)
print(sum_of_list)
print(avg_of_list)

27
4.5

## problem 5: write a python function that takes two lists and returns true if they have at least one common member

In [ ]:
def find_common(list1, list2):
  for i in list1:
    if i in list2:
      return True
  return False

  list1=[2,3,4]
  list2=[5,6,7]

  print(find_common(list1, list2))

## set

In [ ]:
set1= {1,2,3,3}
print(set1)

{1, 2, 3}

In [ ]:
set2={3,5,0}

set3=set1.union(set2)
print(set3)

{0, 1, 2, 3, 5}

In [ ]:
set4=set1.intersection(set2)
print(set4)

{3}

## Tuple

In [ ]:
tuple1=(1,2,3,1)
print(tuple1)

(1, 2, 3, 1)

In [ ]:
tuple1.count(1)

2

In [ ]:
tuple1.index(2)

1

#problem 1: convert the tuple into a list , add "Orange" , and convert it back into a tuple

In [ ]:
fruit_tuple=('apple', 'banana', 'jackfruit')
converted_fruit_list=list(fruit_tuple)
print(converted_fruit_list)

['apple', 'banana', 'jackfruit']

In [ ]:
converted_fruit_list.append('orange')
print(converted_fruit_list)

['apple', 'banana', 'jackfruit', 'orange']

In [ ]:
converted_fruit_list = tuple(converted_fruit_list)
print(converted_fruit_list)

('apple', 'banana', 'jackfruit', 'orange')

In [ ]:
fruit_tuple=tuple(list(fruit_tuple)+ ['strawberry'])
print(fruit_tuple)

('apple', 'banana', 'jackfruit', 'strawberry')

# multi dimentional list
# more set function
# lab report : excercise

##Dictionary

In [ ]:
dics1= {
    'name': 'Pranta Das',
    'mail': '223012812@eastdelta.edu.bd',
    'age': '23'
}

In [ ]:
print(dics1['name'])

Pranta Das

In [ ]:
dics1.keys()

dict_keys(['name'])

In [ ]:
dics1.values()

dict_values(['Pranta Das'])

In [ ]:
dics1['age']=22

In [ ]:
print(dics1['age'])

22

In [ ]:
dics1['Hometown']='Chittagong'

print(dics1)

{'name': 'Pranta Das', 'mail': '223012812@eastdelta.edu.bd', 'age': 22, 'Hometown': 'Chittagong'}

In [ ]:
dics1.popitem()

dics1

{'name': 'Pranta Das', 'mail': '223012812@eastdelta.edu.bd'}

In [ ]:
dics1.pop('age')
dics1

{'name': 'Pranta Das', 'mail': '223012812@eastdelta.edu.bd'}

In [ ]:
for i in dics1.keys():
   print(i)

name
mail

In [ ]:
for i in dics1.values():
   print(i)

Pranta Das
223012812@eastdelta.edu.bd

In [ ]:
for i in dics1.items():
   print(i)

('name', 'Pranta Das')
('mail', '223012812@eastdelta.edu.bd')

In [ ]:
for k,v in dics1.items():
   print(f'{k} --> {v}')

name --> Pranta Das
mail --> 223012812@eastdelta.edu.bd

In [ ]:
dics2=dics1.copy()

In [ ]:
print(dics2)

{'name': 'Pranta Das', 'mail': '223012812@eastdelta.edu.bd'}

In [ ]:
dics1.clear()

In [ ]:
print(dics1)
print(dics2)

{}
{'name': 'Pranta Das', 'mail': '223012812@eastdelta.edu.bd'}

In [ ]:
nes_dictionary= {
    'P1': {
        'name': 'A',
        'age': 23
    },
       'P2': {
        'name': 'B',
        'age': 22
    },

       'P3': {
        'name': 'C',
        'age': 25
    }
}

In [ ]:
nes_dictionary['P1']

{'name': 'A', 'age': 23}

In [ ]:
nes_dictionary['P1']['name']

'A'

In [ ]:
gender = {
    'P1': True,
    'P2': False,
    'P3': False
}

In [ ]:
for k,d in nes_dictionary.items():
  print(f"{k} --> ")
  for k2,v in d.items():
    print(f"{k} --> {k2} -->> {v}")

P1 -->
P1 --> name -->> A
P1 --> age -->> 23
P2 -->
P2 --> name -->> B
P2 --> age -->> 22
P3 -->
P3 --> name -->> C
P3 --> age -->> 25


Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
print('Hometown' in dics1.keys())

False

In [ ]:
check = False

key_to_check = "Hometown"

if key_to_check in dics1.keys():
  check = True

print(check)

False

Write a Python program to get the maximum and minimum value in a dictionary.

In [ ]:
num_dics = {
    'num1': 1,
    'num2': 2,
    'num3': 3,
    'num4': 4
}

print(f"{max(num_dics.values())}")
print(f"{min(num_dics.values())}")

4
1

In [ ]:
max=max(num_dics.values())
min=min(num_dics.values())

print(f"{max}")
print(f"{min}")

4
1

##Create a dictionary by interchanging the key and value of another dictionary.

In [ ]:
players = {
    "A":3,
    "B" :7,
    "C":11,
}

In [ ]:
d = {}
for k,v in players.items():
  d[v]=k
print(d)

{3: 'A', 7: 'B', 11: 'C'}

# Functions

## Defining and calling functions

In [ ]:
def greet():
  print("Hello world");

greet()

Hello world

In [ ]:
def greet_name(name):
  print(f"Hello {name}")

greet_name("pranta")

Hello pranta

In [ ]:
def greet_name(First_name, Last_name):
  print(f"Hello {First_name} {Last_name}")

greet_name("pranta", "Das")

Hello pranta Das

In [ ]:
def greet_name(First_name, miiddle_name ,Last_name):
  print(f"Hello {First_name} {miiddle_name} {Last_name}")

greet_name("pranta", " " ,"Das")
greet_name(Last_name="pranta", miiddle_name=" " , First_name="Das")

Hello pranta   Das
Hello Das   pranta

## Return Values

In [ ]:
def square(num):
  return num*num;

print(square(5));

25

In [ ]:
def square_root(num):
  return num*num, num**0.5

sq, root = square_root(9)
print(f"square={sq} , root= {root}")

square=81 , root= 3.0

In [ ]:
result = square_root(9)
print(f"result={result} ")

result=(81, 3.0)

*args and **kwargs (Variable-Length Arguments)

In [ ]:
def func(*args, **kwargs):
    print("Args:", args)
    print("Kwargs: ", kwargs)

func(1,2,3, name = "Alice", age=25)

Args: (1, 2, 3)
Kwargs:  {'name': 'Alice', 'age': 25}

In [ ]:
func(1,2,3, name = "Alice", age=25, dob='12/03/23')

Args: (1, 2, 3)
Kwargs:  {'name': 'Alice', 'age': 25, 'dob': '12/03/23'}

In [ ]:
def func(*args, **kwargs):
    print("Args[0]:", args[0])
    print("Args[1]:", args[1])
    print("Args[2]:", args[2])
    print("Kwargs: ", kwargs)

func(1,2,3, name = "Alice", age=25)

Args[0]: 1
Args[1]: 2
Args[2]: 3
Kwargs:  {'name': 'Alice', 'age': 25}

Keyword-Only Arguments

In [ ]:
def fun(*, fname, lname):
   print(f"Welcome {fname} {lname}")

fun(fname="Pranta", lname="Das")

Welcome Pranta Das

In [ ]:
def fun_new( fname, *,lname):
   print(f"Welcome {fname} {lname}")

fun_new("Pranta", lname="Das")

Welcome Pranta Das

Functions as First-Class Citizens

In [ ]:
def shout(text):
   return text.upper()

def whisper(text):
   return text.lower()

def speak(func):
   return func("hello")

print(speak(shout))

HELLO

Lambda Functions

In [ ]:
square = lambda x: x * x
print(square(5))

25

Docstrings and Introspection

In [ ]:
def add(a: int, b: int) -> int:
   """Add two numbers and return the result.
   Parameters:
   `a` : `int` takes an integer
   `b` : `int` takes an integer

   Returns:
   return `int` returns an integer
   """
   return a + b

print(add.__doc__)
print(add.__annotations__)

Add two numbers and return the result.
   Parameters:
   `a` : `int` takes an integer
   `b` : `int` takes an integer

   Returns:
   return `int` returns an integer

{'a': <class 'int'>, 'b': <class 'int'>, 'return': <class 'int'>}